.header {
    grid-area: header;
    background-color: lightgray;
}

.header img {
    padding: 5px;
    width: 40px;
}

.loginBlock {
    padding: 10px;
    float: right;
}

.loginBlock a {
    color: white;
}